<h1>Your Cart</h1>

<% if @cart.empty? %>
    <p>Your Cart is empty.</p>
<% end %>

<% total = 0 %>
	
<table class="cart" align="center", border="2">
    <tr>
        <td></td>
        <td align="center"><b>Product</b></td>
        <td align="center"><b>Price</b></td>
        <td align="center"><b>Quantity</b></td>
        <td align="center"><b>Total</b></td>
    </tr>
	
<% @cart.each do | id, quantity | %>
    <% product = Product.find_by_id(id) %>
    <tr>
        <td>
        <div class="image", align = "center">
            <%= link_to (image_tag product.image, :style => "height:40px"), product %>
        </div>
        </td>
        <td><div class="title", align="center"><%= link_to product.title, product %></div></td>
        <td><div class="price", align="center"><%= number_to_currency(product.price , :unit => "€") %></div></td>
        <td><div  class="quantity", align="center"><%= quantity %><br /></div></td>
        <td class="price", align= "center">
        <%= number_to_currency(quantity * product.price, :unit => "€") %>
    </td>
    </tr>
    <% total += quantity * product.price %>
<% end %>

    <tr>
        <td colspan="4">
            <div class="total">Total:</div>
        </td>
        <td>
            <div class="price"><%= number_to_currency(total, :unit => "€") %></div>
        </td>
    </tr>
</table>

<p align="center">
    <%= link_to 'Continue Shopping', :controller => :products %>
</p>





