<%= form_for(@product) do |f| %>

<div class= "row">
  <div class="col-md-6 col-md-offset-3">

    <%= f.label :title %><br>
    <%= f.text_field :title %>

  

    <%= f.label :description %><br>
    <%= f.text_area :description %>

  

    <%= f.label :price %><br>
    <%= f.text_field :price %>

  

    <%= f.label :image %><br>
    <%= f.text_field :image %>

  

    <%= f.submit "Confirm Product Changes", class: "btn btn-primary" %>

  </div>
</div>

<% end %>