<h1>Catalog</h1>

<table class="Products", align="center">
    

    
    <% @product.each do |product| %>
    

    
    <tr>
        <td>

            <%= link_to (image_tag product.image, :style => "height:100px"), product %>

        </td>
        
        <td>
            
        <div class = "gap-between-pic-and-description">
    
        <div class="title">
            <b><%= link_to product.title, product %></b>
        </div>
        
        <div class="description">
           <i><%= product.description %></i> 
        </div>
        
        <div class="price">
            <%= number_to_currency(product.price, unit: "€") %>
        </div>
        
         <div class="links">
    
    <% if logged_in? %>
             <% if current_user.admin? %>
              <%= link_to 'Edit', edit_product_path(product) %> |
              <%= link_to 'Delete', product, :confirm => 'Are you sure?', :method => :delete %> |
              <% end %>
              <a href="/cart/<%= product.id %>">Add to Cart</a><br><br>
    <% end %>
        
        </div>

    </td>
    </tr>
    
    <% end %>
    </table>
    

    
    <b><a><%= link_to "Add new product!", new_product_path%></a></b>