<p id="notice"><%= notice %></p>

<table class="Products">
  
    <tr>
      <td>
        <p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  €<%= @product.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image %>
</p>
<% if logged_in? %>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%end%>
<%end%>

<%= link_to 'Back', products_path %> 

<% if logged_in? %>
|
<a href="/cart/<%= @product.id %>">Add to Cart</a> 
<%end%>
        
      </td>
        <td>
        <div class="image">
            <%= link_to (image_tag @product.image, :style => "height:100px"), @product %>
            
        </div>
        </td>
        
    </tr>

</table>





